body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-web {
    color: #4D5AE5;
}


.header-nav ul {
    display: flex;
    gap: 40px;
}

.header-nav a {
    font-weight: 500;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav a:hover,
.header-nav a:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address ul {
    display: flex;
    gap: 40px;
}

.header-address a {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address a:hover,
.header-address a:focus {
    color: #404bbf;
}


.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
}

.hero-logo {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}


.features {
    padding: 120px 0;
}

.features h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-info {
    display: flex;
    gap: 24px;
}

.features-info-list {
    flex-basis: calc((100% - 72px) / 4);
}

.features-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-txt {
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-logo {
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
    flex-basis: calc((100% - 72px) / 4);
}


.team-card img {
    width: 264px;
    height: auto;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    padding-top: 32px;
    margin-bottom: 8px;
}

.team-job {
    color: #434455;
    padding-bottom: 32px;
}


.portfolio {
    padding: 120px 0;
}

.portfolio-logo {
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card img {
    width: 100%;
    height: auto;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    padding: 32px 0 8px 16px;
}

.portfolio-job {
    color: #434455;
    padding-bottom: 32px;
    padding-left: 16px;
}


.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-web {
    color: #4D5AE5;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}
